:root {
    --primary: #989696;
    --background: rgb(5, 16, 15);
   
   }
   
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       outline: none;
       border: none;
       text-decoration: none;
   
   }
   
   body {
       font-family: 'Courier New', Courier, monospace;
       background-color: var(--background);
       color:white;
       /* min-height: 2000px; */
   }
   
   /* Navbar */
   
   .Navbar {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 1.4rem 7%;
       background-color: rgba(5, 16, 15, 0.8);
       border-top: 1px solid rgba(152, 150, 150, 0.7);
       position: fixed;
       /* top: 0; */
       left: 0;
       right: 0;
       bottom: 0;
       z-index: 9999;
   }
   
   .Navbar .Navbar-logo {
       font-size: 2rem;
       font-weight: 600;
       color: rgb(255, 255, 255);
   }
   
   .Navbar .Navbar-logo span {
       color: rgb(78, 138, 132);
   }
   
   .Navbar .Navbar-Nav a {
       color: #ffffff;
       display: inline-block;
       font-size: 1rem;
       margin: 0 1rem;
   }
   
   .Navbar .Navbar-Extra a {
       color: black;
       margin: 0 0.5rem;
   }
   
   .Navbar .Navbar-Nav a:hover {
    color: var(--primary);
    font-size: 1.2rem;
    }
   
   #Menu {
       display: inline-block;
   }
   
   
   
   .Landing {
       min-height: 100vh;
       display: flex;
       align-items: top;
       justify-content: center;
       background-image: url('../img/home-background.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       position: relative;
   }
   
   /* .Landing::after {
       content: '';
       display: block;
       position: absolute;
       width: 100%;
       height: 100%;
       background: linear-gradient(0deg, rgba(5, 16, 15, 1) 10%, rgba(78, 138, 132, 0) 25%);
   }
    */
   .Landing .content {
       padding: 1.4rem 7%;
       margin-top: 8vh;
       /* max-width: 60rem; */
   }
   
   .Landing .content h1 {
       font-size: 4.5em;
       color: rgb(5, 16, 15);
       font-weight: 600;
       text-align: center;
       text-shadow: 3px 3px 5px rgba(5, 16, 15, 0.5);
   }
   
   .Landing .content h1 span {
       color: #4e8a84;
       text-shadow: 3px 3px 5px rgba(5, 16, 15, 0.5);
   }
   
   .Landing .content p {
       font-size: 1.5em;
       color: rgb(5, 16, 15);
       font-weight: 600;
       text-align: center;
       text-shadow: 1px 1px 3px rgba(5, 16, 15, 0.5);
   }

   .Landing .destinations a {
    font-size: 1.3rem;
    display: block;
    margin: 5px;
    padding: 5px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(5, 16, 15);
    background-color: rgba(78, 138, 132, 0.8);
    font-weight: 600;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(5, 16, 15, 0.5);
    border-radius: 20px 20px 20px 20px;
    }

    .Landing .destinations a:hover {
        color: white;
        font-size: 1.5rem;
    }

    .Landing .destinations2 a {
        font-size: 1.3rem;
        display: block;
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(5, 16, 15);
        background-color: rgba(78, 138, 132, 0.8);
        font-weight: 600;
        text-align: center;
        text-shadow: 3px 3px 5px rgba(5, 16, 15, 0.5);
        border-radius: 20px 20px 20px 20px;
    }

    .Landing .destinations2 a:hover {
        color: white;
        font-size: 1.5rem;
    }

   .Soto {
    min-height: 100vh;
    display: flex;
    align-items: top;
    justify-content: center;
    background-image: url('../img/soto.jpg');
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.Soto::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(5, 16, 15, 1) 5%, rgba(78, 138, 132, 0) 25%);
}

.Soto::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(5, 16, 15, 1) 10%, rgba(78, 138, 132, 0) 25%);
}

.Soto .content2 {
    padding: 1.4rem 7%;
    margin-top: 32vh;
    /* max-width: 60rem; */
}

.Soto .content2 h2 {
    font-size: 4.5em;
    color: rgb(5, 16, 15);
    font-weight: 600;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(5, 16, 15, 0.5);
    display: block;
    background-color: rgb(78, 138, 132, 0.8);
}

.Soto .content2 h2 span {
    color: white;
    text-shadow: 3px 3px 5px rgba(5, 16, 15, 0.5);
}

.Soto .content2 p2 {
    font-size: 1.5em;
    display: flex;
    color: #4e8a84;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(5, 16, 15, 0.5);
    max-width: 50rem;
    margin: 0 auto;
    justify-content: center;
    display: block;
    background-color: rgb(5, 16, 15, 0.8);
}

.Gado {
    min-height: 100vh;
    display: flex;
    align-items: top;
    justify-content: center;
    background-image: url('../img/gado-gado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.Gado::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(5, 16, 15, 1) 5%, rgba(78, 138, 132, 0) 25%);
}

.Gado::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(5, 16, 15, 1) 10%, rgba(78, 138, 132, 0) 25%);
}

.Gado .content3 {
    padding: 1.4rem 7%;
    margin-top: 32vh;
    /* max-width: 60rem; */
}

.Gado .content3 h3 {
    font-size: 4.5em;
    color: rgb(5, 16, 15);
    font-weight: 600;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(5, 16, 15, 0.5);
    display: block;
    background-color: rgb(78, 138, 132, 0.8);
}

.Gado .content3 h3 span {
    color: white;
    text-shadow: 3px 3px 5px rgba(5, 16, 15, 0.5);
}

.Gado .content3 p3 {
    font-size: 1.5em;
    display: flex;
    display: block;
    background-color: rgb(5, 16, 15, 0.8);
    color:rgba(78, 138, 132, 0.8);
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(5, 16, 15, 0.5);
    max-width: 50rem;
    margin: 0 auto;
    justify-content: center;
}
   
   
   /* .Navbar .Navbar-Nav{
       position: absolute;
       top: 100%;
       right: -100%;
       width: 30rem;
       background-color: black;
       height: 100vh;
   } */
   
   /* .Navbar .Navbar-Nav.active{
       right: 0;
   } */